<!doctype html>
<html lang="en">

<head>
  <title>wellcome admin</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    .mini_table {
      width: 300px;
      height: 200px;
      border: 1px solid black;
      border-radius: 10%;
      margin: auto;
    }

    .main-div {
      width: 300px;
      height: 200px;
      border: 1px solid black;
      border-radius: 10%;
      margin: auto;
      background-color: lavender;
      overflow: hidden;
    }

    .main-div .img {
      height: 80px;
      overflow: hidden;
    }

    .main-div .heading {
      height: 20px;
      font-weight: 600;
    }

    .main-div .discription {
      height: 20px;
      font-size: small;
    }

    .oriimg {
      height: 200px;
      width: 300px;
    }
  </style>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <a class="navbar-brand text-light ml-3" style="font-size: 1.9rem;" href="#">Learning platform</a>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#course"> Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light " href="#about">About us</a>
        </li>
      </ul>
      <form class="form-inline ml-5 my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img class="d-block w-100" src="https://source.unsplash.com/1100x400/?study" alt="First slide">
      </div>

    </div>
  </div>




  <section class="container-fluid">

    <div class="row" id="course">

      <div class="col-12">


        <button type="button" class="btn btn-primary " style="margin-left: 80%; margin-top: 20px;"> <a href="admin-form"
            style="color: white; text-decoration: none;">
            Add Courses <span class="badge badge-light">
              <ion-icon name="add-outline"></ion-icon>
            </span>
          </a></button>

        <hr>

        <h1 class="text-center m-3"
          style="text-shadow: 3px 3px 3px rgb(85, 83, 83); font-weight: bold; text-decoration: underline;">Our Courses
        </h1>

        <hr>



        <div class="row">
          <% for(var i=0; i < user.length; i++) { %>
            <a style="color: black; text-decoration: none;" href="/admin-corse?id=<%= user[i]._id%>">
              <div class="col-lg-3 my-5">

                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src=" <%=user[i].image%> ">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= user[i].heading %>
                    </h5>
                    <p class="card-text">
                      <%= user[i].discription %>
                    </p>
                    <a href="/admin-wellcome/delete/<%= user[i]._id%>" class="btn btn-primary my-2">Delete</a>
                    <a href="/admin-update?id=<%= user[i]._id%>" class="btn btn-primary my-2">Upload Photo</a>
                  </div>
                </div>
              </div>
            </a>
            <% } %>

        </div>







      </div>
    </div>
  </section>




  <div id="about">
    <h1 class="text-center m-3"
      style="text-shadow: 3px 3px 3px rgb(85, 83, 83); font-weight: bold; text-decoration: underline;">About Us
    </h1>
    <div style="width: 40%; margin: auto; text-align: justify;">

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis at veniam necessitatibus nobis? A, doloribus
        itaque ut possimus nemo ex corporis earum aliquid consequatur repellat! Distinctio aut vel voluptas optio.
        <br>
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis at veniam necessitatibus nobis? A, doloribus
        itaque ut possimus nemo ex corporis earum aliquid consequatur repellat! Distinctio aut vel voluptas optio.
        <br>
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis at veniam necessitatibus nobis? A, doloribus
        itaque ut possimus nemo ex corporis earum aliquid consequatur repellat! Distinctio aut vel voluptas optio.
        <br>
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis at veniam necessitatibus nobis? A, doloribus
        itaque ut possimus nemo ex corporis earum aliquid consequatur repellat! Distinctio aut vel voluptas optio.
        <br>
      </p>

    </div>
  </div>



  <footer style="background-color: rgb(59, 58, 58); color:white; padding: 20px; margin-top: 200px;">
  <h4 style="font-size: 1rem; text-align: center; margin-bottom: 0px;">  disclamer@2021 Valuda'S </h4>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>